attrs
pykakasi
certifi
chardet
idna
importlib-metadata
iniconfig
packaging
pluggy
py
pyparsing
pytest
pytest_watch
pytest-mock
python-dotenv
requests
selenium
toml
typing-extensions
urllib3
zipp
pydantic
